/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#myBtn {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 40px; /* Place the button at the bottom of the page */
left: 280px; /* Place the button 30px from the right */
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: #F55A08 ; /* Set a background color */
color: white; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 10px; /* Rounded corners */
font-size: 18px; /* Increase font size */
font-family:  PingFang TC;
}

main{
    font-family: PingFang TC;
    height: 9409px;
}
header{
    width: 414px;
    height: 82.7px;
    position: relative;
    box-shadow: 0px 3px 6px #0000005D;
    top: 0px;
    position: fixed;
    z-index: 99;
    background-color: #fff;
}
.header-top{
    width: 100%;
    height: 20.7px;
    background-color: #005A87;
}
.header-top-area {
background: transparent linear-gradient(90deg, #0389D1 0%, #02B6B2 100%)
  0% 0% no-repeat padding-box;
opacity: 1;
height: 6px;
}
.logo{
  height: 27.45px;
  width: 128.68px;
  margin-top: 14px;
  margin-left: 141px;
}
.home{
  height: 24.86px;
  width: 24.86px;
  margin-top: 16px;
  right: 23.14px;
  position: absolute;
}
.icon-area{
  margin-left: 23.11px;
}
.time{
  position: absolute;
  left: 184.05px;
}
.circle{
width: 6.61px;
height: 6.91px;
background-color: #fff;
border-radius: 100%;
margin-right: 2.4px;
}
.circle0{
width: 6.61px;
height: 6.91px;
border-radius: 100%;
border: 1.5px solid white;
margin-right: 2.4px;
}
.battery{
  width: 25.3px;
  height: 11.8px;
  border: solid white 1px;
  margin-left: 365.7px;
  position: absolute;

}
.batteryright{
width: 3px;
height: 5px;
background-color:white;
margin-left: 390.7px;
position: absolute;
}
.title-icon{
  width: 8px;
  height: 24px;
  background-color: #00829B;
  left: 16px;
  margin-right: 8px;
  position: absolute;
 top: 97px;
}
.title{
  width: 341px;
  height: 33px;
  color:#00829B;
  font-size: 24px;
  top: 92px;
  position: absolute;
  left: 32px;
}
.next-below{
height: 0px;
border: 1px dashed #EDEDED;
opacity: 1;
width: 413.5px;
margin-top: 53.8px;

}
.box{
  width: 200px;
  height: 200px;
  background-color: blue;
}
/* 步驟 */
.step-icon{
border-style: solid;
border-width: 4.31px 0 4.31px 10px;
border-color: transparent transparent transparent #F55A08;
left: 16px;
position: absolute;

}
.step-text{
text-align: left;
font-size: 18px;
color: #505050;
position: absolute;
line-height: 25px;
}
.step-img{
  left: 55px;
  position: absolute;
  box-shadow: 0px 3px 6px #00000029;
}
.step-next-below{
border: 1px dashed #EDEDED;
opacity: 1;
width: 414px;
position: absolute;
}
/* 步驟1 */
.step1icon{
top:147px;
}
.step1-text{
  top:138.7px;
  left: 39px;
  width: 346.38px;
  height: 116.3px;
}
.step1-img{
  width: 305px;
  height: 542.22px;
  top:219px;
}
.step1-1-img{
  width: 305px;
  height: 542.22px;
  top: 782px;     
}
.next-below1{ 
top: 1356.5px
}

/* 步驟2 */
.step2icon{
top:1383px;
}
.step2-text{  
  top:1373.7px;
  left: 39px;
  width: 346.38px;
  height: 116.3px;
}
.step2-img{
  width: 305px;
  height: 542.22px;
  top:1502px;
}

.next-below2{
top: 2077.5px;
}
/* 步驟3 */
.step3icon{     
top:2098px;
}
.step3-text{
  top:2089.7px;
  left: 37px;
  width: 339.26px;
  height: 79.69px;
}
.step3-img{
  width: 305px;
  height: 542.22px;
  top:2192px;
}

.next-below3{
top: 2767.5px;
}  

/* 步驟4 */
.step4icon{
top:2794px;    
}
.step4-text{     
  top:2784.7px;
  left: 42px;
  width: 346.38px;
  height: 116.3px;
}
.step4-img{
  width: 305.28px;
  height: 543px;
  top:2878px;
}

.next-below4{
top: 3459.5px;
}
/* 步驟5 */
.step5icon{      
top:3486px;
}
.step5-text{   
  top:3476.7px;
  left: 42px;
  width: 346.38px;
  height: 116.3px;
}
.step5-img{
  width: 305.28px;
  height: 543px;
  top:3545px;
}

.next-below5{
top: 4126.5px;
}
/* 步驟6 */
.step6icon{       
top:4155px;
}
.step6icon-1{
width: 37px;
height: 19px;
background-color: #F55A08;
border-radius: 5px;
left:16px;
top:4176px;
position: absolute;
}
.step6icon-2{
width: 37px;
height: 19px;
background-color: #F55A08;
border-radius: 5px;
left:16px;
top:4203px;
position: absolute;
}
.step6icon-3{
width: 37px;
height: 19px;
background-color: #F55A08;
border-radius: 5px;
left:16px;
top:4232px;
position: absolute;
}      
.step6-text{   
  top:4148px;
  left: 29px;
  width: 346.26px;
  height: 125.69px;
}
.step6-img{
  width: 305.28px;
  height: 543px;
  top:4286px;
}

.next-below6{
top: 4867.5px;
}
/* 步驟7 */
.step7icon{     
top:4896px;
}
.step7-text{     
  top:4889px;
  left: 29px;
  width: 346.26px;
  height: 75.69px;
}
.step7-img{
  width: 305.28px;
  height: 542.99px;
  top:4986px;
}

.next-below7{
top: 5567.5px;
}
/* 步驟8 */
.step8icon{  
top:5596px;
}
.step8-text{        
  top:5589px;
  left: 29px;
  width: 346.26px;
}
.step8-img{
  width: 305.28px;
  height: 543px;
  top:5686px;
}

.next-below8{
top: 6267.5px;
}
/* 步驟9 */
.step9icon{
top:6296px;
}
.step9-text{     
  top:6289px;
  left: 29px;
  width: 346.26px;
  height: 125.69px;
}
.step9-img{
  width: 305.28px;
  height: 543px;
  top:6436px;
}

.next-below9{
top: 7017.5px;
}
/* 步驟10 */
.step10icon{ 
top:7046px;
}
.step10-text{       
  top:7039px;
  left: 29px;
  width: 346.26px;
  height: 150.69px;
}
.step10-img{
  width: 305.28px;
  height: 543px;
  top:7211px;
}

.next-below10{
top: 7792.5px;
}                                                                                                           
/* 步驟11 */
.step11icon{    
top:7821px
}
.step11-text{    
  top:7814px;
  left: 29px;
  width: 346.26px;
  height: 75.69px;
}
.step11-img{
  width: 305.28px;
  height: 543px;
  top:7911px;
}

.next-below11{
top: 8492.5px;
}
/* 步驟12 */
.step12icon{  
top:8521px;
}
.step12-text{     
  top:8514px;
  left: 29px;
  width: 346.26px;
  height: 129.69px;
}
.step12-img{
  width: 305.28px;
  height: 543px;
  top:8665px;
}                                                               