/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#myBtn {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 60px; /* Place the button at the bottom of the page */
right: 650px; /* Place the button 30px from the right */
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: red; /* Set a background color */
color: white; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 10px; /* Rounded corners */
font-size: 18px; /* Increase font size */
font-family:  PingFang TC;
}
#myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
}
.bg {
height: 8421px;
background: #edfbff 0% 0% no-repeat padding-box;
opacity: 1;
width: 1920px;
}
.navbar-area {
width: 1920px;
height: 84px;

background: #ffffff 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px #0000000a;
opacity: 1;
position: fixed;
z-index: 2;
}
.nav-top-area {
background: transparent linear-gradient(90deg, #00829b 0%, #009583 100%)
  0% 0% no-repeat padding-box;
opacity: 1;
height: 8px;
}
.fb-logo {
top: 21px;
left: 357px;
width: 204px;
height: 44px;
background: transparent url("./images/fb_logo.svg") 0% 0% no-repeat
  padding-box;
opacity: 1;
position: absolute;
}
.home-logo {
top: 31px;
left: 1486px;
width: 25px;
height: 25px;
background: url("./images/btn_home.svg") 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}
.navbar-text {
top: 32px;
left: 1517px;
width: 48px;
height: 16px;
font: var(--unnamed-font-style-normal) normal
  var(--unnamed-font-weight-medium) 12px/19px
  var(--unnamed-font-family-heiti-tc);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal medium 12px/19px Heiti TC;
letter-spacing: 0px;
color: #505050;
opacity: 1;
position: absolute;
padding: 0px;
}

.step-area {
top: 90px;
left: 360px;
width: 1200px;
height: 8216px;
background: #ffffff 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
position: absolute;
}
.title-tag {
top: 106px;
left: 375px;
width: 8px;
height: 24px;
background: #00829b 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}
.title {
top: 99px;
left: 390px;
width: 108px;
height: 38px;
font: var(--unnamed-font-style-normal) normal
  var(--unnamed-font-weight-normal) var(--unnamed-font-size-27) /
  var(--unnamed-line-spacing-34)
  var(--unnamed-font-family-source-sans-pro);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 27px/34px  Source Sans Pro;
letter-spacing: 0px;
color: #00829b;
opacity: 1;
position: absolute;
}
/* 步驟 */

.step-icon{
border-style: solid;
border-width: 7.5px 0 7.5px 12.93px;
border-color: transparent transparent transparent#f55a08;
position: absolute;
}
.step{
font: var(--unnamed-font-style-normal) normal
  var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 25px
  var(--unnamed-font-family-pingfang-tc);
letter-spacing: var(--unnamed-character-spacing-0-36);
text-align: left;
font: normal normal normal 18px/25px PingFang TC;
letter-spacing: 0.36px;
color: #f55a08;
opacity: 1;
position: absolute;
width: 80px;
height: 25px;
}
.step-text{
font: var(--unnamed-font-style-normal) normal
  var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 25px
  var(--unnamed-font-family-pingfang-tc);
letter-spacing: var(--unnamed-character-spacing-0-36);
text-align: left;
font: normal normal normal 18px/30px PingFang TC;
letter-spacing: 0.36px;
color: #505050;
opacity: 1;
position: absolute;
}
.step-img{
box-shadow: 0px 3px 6px #00000029;
background-size: cover;
opacity: 1;
width: 810px;
position: absolute;
}
/* 步驟1 */
.step1-icon {
top: 165px;
left: 375px;
}
.step1 {
top: 159px;
left: 405px;
}
.step1-text {
top: 193px;
left: 405px;
width: 293px;
height: 50px;
}
.step1-img-1 {
top: 159px;
left: 713px;
height: 456px;
background: transparent url("./images/instructions/web/web01.png") 0% 0%
  no-repeat padding-box;
background-size: cover;
}
.step1-img-2 {
top: 631px;
left: 713px;
height: 456px;
background: transparent url("./images/instructions/web/web02.png") 0% 0%
  no-repeat padding-box;
  background-size: cover;
}
/* 步驟2 */
.step2-icon {
top: 1144px;
left: 375px;
}
.step2 {
top: 1139px;
left: 402px;
}
.step2-text {
top: 1170px;
left: 404px;
width: 294px;
height: 145px;
}
.step2-img {
top: 1139px;
left: 713px;
height: 788px;
background: transparent url("./images/instructions/web/web03.png") 0% 0%
  no-repeat padding-box;
background-size: cover;
}
/* 步驟3 */
.step3-icon {
top: 1984px;
left: 375px;
}
.step3 {
top: 1979px;
left: 402px;
}
.step3-text {
top: 2010px;
left: 398px;
width: 300px;
height: 50px;
}
.step3-img {
top: 1979px;
left: 713px;
height: 456px;
background: transparent url("./images/instructions/web/web04.png") 0% 0%
  no-repeat padding-box;
}
/* 步驟4 */
.step4-icon {
top: 2492px;
left: 375px;
}
.step4 {
top: 2487px;
left: 402px;
}
.step4-text {
top: 2515px;
left: 405px;
width: 293px;
height: 75px;
}
.step4-img {
top: 2487px;
left: 713px;
height: 456px;
background: transparent url("./images/instructions/web/web05.png") 0% 0%
  no-repeat padding-box;
}
/* 步驟5 */
.step5-icon {
top: 3000px;
left: 375px;
}
.step5 {
top: 2995px;
left: 402px;
}
.step5-text {
top: 3022px;
left: 405px;
width: 280px;
height: 25px;
}
.step5-img {
top: 2995px;
left: 708px;

height: 753px;
background: transparent url('./images/instructions/web/web06.png') 0% 0% no-repeat padding-box;
}
/* 步驟6 */
.step6-icon {
top: 3806px;
left: 369px;
}
.step6 {
top: 3801px;
left: 402px;
}
.step6-1-icon{
top: 3832px;
left: 369px;
width: 37px;
height: 19px;
background: #F55A08 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
position: absolute;
}
.step6-2-icon{
top: 3861px;
left: 369px;
width: 37px;
height: 19px;
background: #F55A08 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
position: absolute;
}
.step6-3-icon{
top: 3890px;
left: 369px;
width: 37px;
height: 19px;
background: #F55A08 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
position: absolute;
}
.step6-text {
top: 3826px;
left: 382px;
width: 288px;
height: 115px;
}
.step6-img {
top: 3800px;
left: 713px;
height: 679px;
background: transparent url('./images/instructions/web/web07.png') 0% 0% no-repeat padding-box;
}
/* 步驟7 */
.step7-icon {
top: 4535px;
left: 369px;
}
.step7 {
top: 4530px;
left: 409px;
}
.step7-text {
top: 4555px;
left: 394px;
width: 304px;
height: 85px;
}
.step7-img {
top: 4530px;
left: 713px;  
height: 623px;
background: transparent url('./images/instructions/web/web08.png') 0% 0% no-repeat padding-box;
}
/* 步驟8 */
.step8-icon {
top: 5209px;
left: 369px;
}
.step8{
top: 5204px;
left: 408px;
}
.step8-text {
top: 5232px;
left: 400px;
width: 298px;
height: 101px;
}
.step8-img {
top: 5204px;
left: 713px; 
height: 452px;
background: transparent url('./images/instructions/web/web09.png') 0% 0% no-repeat padding-box;
}
/* 步驟9 */
.step9-icon {
top: 5712px;
left: 369px;
}
.step9{
top: 5707px;
left: 402px;
}
.step9-text {
top: 5741px;
left: 400px;
width: 293px;
height: 115px;
}
.step9-img {
top: 5707px;
left: 713px;
height: 673px;
background: transparent url('./images/instructions/web/web10.png') 0% 0% no-repeat padding-box;
}
/* 步驟10 */
.step10-icon {
top: 6435px;
left: 369px;
}
.step10{
top: 6430px;
left: 394px;
}
.step10-text {
top: 6455px;
left: 400px;
width: 293px;
height: 175px;
}
.step10-img {
top: 6431px;
left: 713px;
height: 451px;
background: transparent url('./images/instructions/web/web11.png') 0% 0% no-repeat padding-box;
}
/* 步驟11 */
.step11-icon {
top: 6937px;
left: 369px;
}
.step11{
top: 6933px;
left: 398px;
}
.step11-text {
top: 6960px;
left: 395px;
width: 293px;
height: 55px;
}
.step11-img {
top: 6933px;
left: 713px;
height: 581px;
background: transparent url('./images/instructions/web/web12.png') 0% 0% no-repeat padding-box;
}
/* 步驟12 */
.step12-icon {
top: 7570px;
left: 369px;
}
.step12{
top: 7565px;
left: 401px;
}
.step12-text {
top: 7590px;
left: 395px;
width: 293px;
height: 115px;
}
.step12-img {
top: 7565px;
left: 713px;
height: 668px;
background: transparent url('./images/instructions/web/web13.png') 0% 0% no-repeat padding-box;
}
/* 分隔線 */
.next-below{
width: 1201px;
height: 0px;
left: 360px;
border: 1px dashed #d5d5d5;
opacity: 1;
position: absolute;
}
.next-below1 {
top: 1118px;
}
.next-below2 {
top: 1958px;
}
.next-below3 {
top: 2466px;
}
.next-below4 {
top: 2974px;
}
.next-below5 {
top: 3779px;
}
.next-below6 {
top: 4510px;
}
.next-below7 {
top: 5184px;
}
.next-below8 {
top: 5687px;
}
.next-below9 {
top: 6411px;
}
.next-below10 {
top: 6913px;
}
.next-below11 {
top: 7545px;
}

footer{
top: 8334px;
width: 1920px;
height: 87px;
background: transparent linear-gradient(90deg, #00829B 0%, #009583 100%) 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
}
.footer{
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 20px/25px var(--unnamed-font-family-heiti-tc);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal medium 20px/25px Heiti TC;
letter-spacing: 0px;
color: #FFFFFD;
opacity: 1;
position: absolute;
height: 20px;
}
.footer-title{
top: 8356px;
left: 879px;
width: 165px;

}
.footer-title2{
top: 8388px;
left: 720px;
width: 567px;

}